.first {
  padding: 92px 0;
}

.first__semicont {
  width: 730px;
  margin: 0px auto;
  text-align: center;
}

.first__title {
  font-size: 56px;
  line-height: 60px;
  margin: 0px 0px 24px 0px;
}

.first__text {
  font-size: 18px;
  line-height: 28px;
  width: 591px;
  margin: 0px auto 40px auto;
}

.first__link {
  display: inline-block;
  padding: 0 38px;
  line-height: 48px;
  background-color: #0065f2;
}

.first__link:hover {
  background-color: #3281f1;
}

.first__link:active {
  background-color: #1a3b69;
}

.first__link span {
  color: #fff;
}

@media (max-width: 1024px) {
  .main {
    padding: 60px 0px 0px 0px;
  }
  .main__cont {
    max-width: 933px;
    margin: 0px auto;
    padding: 0 10px;
  }
  .first {
    padding: 80px 0;
  }
  .first__semicont {
    width: 540px;
    margin: 0px auto;
    text-align: center;
  }
  .first__title {
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 20px 0px;
  }
  .first__text {
    font-size: 16px;
    line-height: 24px;
    width: 466px;
    margin: 0px auto 32px auto;
  }
  .first__link {
    display: inline-block;
    padding: 0 38px;
    line-height: 48px;
    background-color: #0065f2;
  }
  .first__link:hover {
    background-color: #3281f1;
  }
  .first__link:active {
    background-color: #1a3b69;
  }
  .first__link span {
    color: #fff;
  }
}

/*------------------------------------------------------------------*/
.important__wariant {
  width: 196px;
  margin: 0px auto;
  text-align: center;
}

.important__wariant a {
  font-size: 16px;
  line-height: 48px;
  padding: 0 9px;
  color: #00000034;
  display: inline-block;
  margin: 0px 16px 0px 0px;
}

.important__wariant a._active {
  color: #0065f2;
  border-bottom: 2px solid #0065f2;
}

.important__row {
  margin: 48px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.important__card {
  width: 350px;
  height: 528px;
  padding: 27px 32px 24px 24px;
}

.card {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.card__status {
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  margin: 0px 0px 35px 0px;
}

.card__text {
  margin: 0px 0px 16px 0px;
}

.card__list .list__item {
  margin: 0px 0px 4px 0px;
}

.card__list .list__item::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0px 12px 2px 0px;
  display: inline-block;
  background-color: #000;
}

.card__btn {
  position: absolute;
  bottom: 25px;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  width: 85%;
  background-color: #0065f2;
  color: #ffffff;
}

.prise {
  font-size: 18px;
  line-height: 28px;
  width: 100%;
}

.prise::after {
  content: "";
  width: 100%;
  height: 1px;
  margin: 17px 0px 24px 0px;
  display: block;
  background-color: #00000034;
}

.prise__text span {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1px;
}

/*-----------------------------------------------------------------------*/
@media (max-width: 1090px) {
  .important__card {
    width: 290px;
    height: 558px;
    padding: 27px 32px 24px 24px;
  }
}

@media (max-width: 915px) {
  .important__row {
    margin: 48px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .important__card {
    width: 480px;
    height: 558px;
    margin: 0px 0px 20px 0px;
  }
  .card__btn {
    width: calc(100% - 48px);
  }
}

@media (max-width: 510px) {
  .important__card {
    width: 290px;
    height: 558px;
    margin: 0px 0px 20px 0px;
  }
}
