@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
