@import "_fonts.scss";
body {
	font-family: "HelveticaNeue";
}
.section-header {
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: -0.1px;
}
.wraper {
}
.header {
	// .header__cont
	height: 60px;
	width: 100vw;
	position: fixed;
	background-color: #fff;
	&__cont {
		position: relative;
		max-width: calc(1370px + 30px);
		padding: 0 30px;
		margin: 0px auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	// .header__nav
	&__nav {
		line-height: 60px;
	}
	&__burger {
		div {
			display: none;
			margin: 29px 0px 0px 0px;
			width: 20px;
			height: 2px;
			background-color: #000;
		}
	}
	// .header__logo
	&__logo {
		width: 62px;
		height: 16px;
		padding: 22px 0 0 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	&__btn {
		position: relative;
		line-height: 60px;
	}
	// .header__link
	&__link:first-child {
		background-color: #0065f2;
		color: #ffffff;
		font-weight: 500;
		display: inline-block;
		line-height: 36px;
		padding: 0 16px;
		&:hover {
			background-color: #3281f1;
		}
		&:active {
			background-color: #1a3b69;
		}
	}
	&__link:last-child {
		display: none;
		img {
			width: 24px;
			height: 24px;
			margin: 18px 0px 0px 0px;
		}
	}
}
.list {
	// .list__item
	&__item {
		display: inline-block;
		margin: 0px 25px 0px 0px;
		a {
			transition: 0.2s;
			font-size: 16px;
			font-weight: 500;
			color: #000;
			&:hover {
				transition: 0.2s;
				color: rgb(151, 151, 151);
			}
		}
	}
}
@media (max-width: 810px) {
	.header {
		&__nav {
			display: none;
		}
		&__burger {
			div {
				display: inline-block;
				margin: 29px 0px 0px 0px;
				width: 20px;
				height: 2px;
				background-color: #000;
				position: relative;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: -5px;
					width: 20px;
					height: 2px;
					background-color: #000;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 5px;
					width: 20px;
					height: 2px;
					background-color: #000;
				}
			}
		}
		&__btn {
			position: absolute;
			right: 15px;
		}
		// .header__link
		&__link:first-child {
			display: none;
		}
		&__link:last-child {
			display: block;
		}
	}
}
/*-------------------------------------------------------------------------------*/
.main {
	padding: 60px 0px 0px 0px;
	// .main__cont
	&__cont {
		max-width: 1110px;
		margin: 0px auto;
	}
}
.first {
	background-color: #fff;
	height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .first__text-block
	&__text-block {
		width: 445px;
		height: 324px;
	}
	// .first__image-block
	&__image-block {
		width: 555px;
		height: 380px;
	}
}
.text-block {
	// .text-block__subtitle
	&__subtitle {
		font-size: 18px;
		font-weight: 500;
		margin: 0px 0px 30px 0px;
	}
	// .text-block__title
	&__title {
		font-size: 56px;
		line-height: 60px;
		letter-spacing: -1px;
		font-weight: bold;
		margin: 0px 0px 46px 0px;
	}
	// .text-block__form
	&__form {
		margin: 0px 0px 20px 0px;
	}
	// .text-block__text
	&__text {
		font-size: 14px;
		line-height: 20px;
	}
}
.form {
	* {
		outline: none;
	}
	width: 100%;
	letter-spacing: -4px; // .form__input
	&__input {
		font-size: 16px;
		letter-spacing: 0.1px;
		background-color: #f0f0f1;
		width: calc(100% - 133px);
		height: 48px;
		padding: 0 15px;
		&:focus {
			border-bottom: 2px solid #000;
		}
	}
	// .form__btn
	&__btn {
		width: 128px;
		height: 48px;
		background-color: #0065f2;
		color: #fff;
		font-size: 16px;
		&:hover {
			background-color: #3281f1;
		}
		&:active {
			background-color: #1a3b69;
		}
	}
}
.btn {
}
@media (max-width: 1024px) {
	.main {
		padding: 60px 0px 0px 0px;
		// .main__cont
		&__cont {
			max-width: 900px;
			margin: 0px auto;
		}
	}
	.first {
		background-color: #fff;
		height: 438px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// .first__text-block
		&__text-block {
			width: 370px;
			height: 288px;
		}
		// .first__image-block
		&__image-block {
			width: 465px;
			height: 318px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.text-block {
		// .text-block__subtitle
		&__subtitle {
			font-size: 18px;
			font-weight: 500;
			margin: 0px 0px 25px 0px;
		}
		// .text-block__title
		&__title {
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -1px;
			font-weight: bold;
			margin: 0px 0px 36px 0px;
		}
		// .text-block__form
		&__form {
			margin: 0px 0px 20px 0px;
		}
		// .text-block__text
		&__text {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@media (max-width: 810px) {
	.main {
		padding: 100px 0px 0px 0px;
		// .main__cont
		&__cont {
			max-width: 900px;
			margin: 0px auto;
		}
	}
	.first {
		height: 586px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		// .first__text-block
		&__text-block {
			width: 370px;
			height: 288px;
			margin: 0px 0px 28px 0px;
		}
		// .first__image-block
		&__image-block {
			width: 465px;
			height: 318px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
@media (max-width: 520px) {
	.main {
		padding: 100px 0px 0px 0px;
		// .main__cont
		&__cont {
			max-width: 900px;
			margin: 0px auto;
		}
	}
	.first {
		height: 586px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		// .first__text-block
		&__text-block {
			width: 290px;
			height: 280px;
			margin: 0px 0px 28px 0px;
		}
		// .first__image-block
		&__image-block {
			width: 290px;
			height: 198px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.text-block {
		// .text-block__title
		&__title {
			font-size: 32px;
			line-height: 38px;
			letter-spacing: -0.4px;
			font-weight: bold;
			margin: 0px 0px 36px 0px;
		}
		// .text-block__form
		&__form {
			margin: 0px 0px 20px 0px;
		}
		// .text-block__text
		&__text {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
/*---------------------------------------------------------------------*/
.second {
	padding: 60px 0;
	// .second__subcont
	&__subcont {
		width: 550px;
		height: 248px;
		margin: 0px auto;
		text-align: center;
	}
	// .second__subtitle
	&__subtitle {
		font-size: 18px;
		font-weight: 500;
		margin: 0px 0px 25px 0px;
	}
	// .second__title
	&__title {
		font-size: 40px;
		line-height: 48px;
		font-weight: 700;
		letter-spacing: -0.5px;
		margin: 0px 0px 20px 0px;
	}
	// .second__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}
}
@media (max-width: 1024px) {
	.second {
		// .second__subcont
		&__subcont {
			width: 451px;
			height: auto;
		}
		// .second__subtitle
		&__subtitle {
		}
		// .second__title
		&__title {
			font-size: 32px;
			line-height: 38px;
			letter-spacing: -0.4px;
		}
		// .second__text
		&__text {
		}
	}
}
@media (max-width: 810px) {
	.second {
		margin: 0;
		padding: 40px 15px;
		// .second__subcont
		&__subcont {
			max-width: 320px;
		}
		// .second__subtitle
		&__subtitle {
		}
		// .second__title
		&__title {
			font-size: 24px;
			line-height: 32px;
		}
		// .second__text
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
/*---------------------------------------------------------------------*/
.third {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// .third__image-block
	&__image-block {
		width: 555px;
		height: 380px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .third__text-block
	&__text-block {
		width: 455px;
		height: auto;
	}
	// .third__tutle
	&__title {
		margin: 0px 0px 16px 0px;
	}
	// .third__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin: 0px 0px 40px 0px;
		a {
			color: #0065f2;
			&:hover {
				color: #3281f1;
			}
			&:active {
				color: #1a3b69;
			}
		}
	}
}
.fhird {
	// .fhird__features
	&__features {
		display: flex;
		justify-content: space-between;
	}
	// .fhird__feature
	&__feature {
		width: 190px;
		height: auto;
		padding: 48px 0px 0px 0px;
		h2 {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			margin: 0px 0px 8px 0px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
	&__feature:first-child {
		background: url("../img/icons/feature_one.svg") 0 0 no-repeat;
	}
	&__feature:last-child {
		background: url("../img/icons/feature_two.svg") 0 0 no-repeat;
	}
}
@media (max-width: 1024px) {
	.third {
		// .third__image-block
		&__image-block {
			width: 465px;
			height: auto;
		}
		// .third__text-block
		&__text-block {
			width: 370px;
			height: auto;
		}
		// .third__tutle
		&__title {
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
			letter-spacing: -0.1px;
			margin: 0px 0px 16px 0px;
		}
		// .third__text
		&__text {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
			margin: 0px 0px 16px 0px;
		}
	}
	.fhird {
		// .fhird__features
		&__features {
			display: flex;
			justify-content: space-between;
		}
		// .fhird__feature
		&__feature {
			width: 160px;
			height: auto;
			padding: 48px 0px 0px 0px;
			h2 {
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				margin: 0px 0px 8px 0px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
@media (max-width: 810px) {
	.third {
		flex-direction: column;
		// .third__image-block
		&__image-block {
			width: 465px;
			height: 318px;
		}
	}
}
@media (max-width: 520px) {
	.third {
		// .third__image-block
		&__image-block {
			width: 290px;
			height: auto;
		}
		// .third__text-block
		&__text-block {
			width: 290px;
			height: auto;
		}
		// .third__text
	}
	.fhird {
		// .fhird__feature
		&__feature {
			width: 130px;
			h2 {
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				margin: 0px 0px 8px 0px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
/*--------------------------------------------------------------------*/
.fourth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 0px 54px 0;
	// .fourth__text-block
	&__text-block {
		max-width: 445px;
	}
	// .fourth__title
	&__title {
		margin: 0px 0px 16px 0px;
	}
	// .fourth__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin: 0px 0px 40px 0px;
	}
	.fourth {
		// .fourth__image-block
		&__image-block {
			width: 500px;
			height: auto;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
.pay {
	width: 400px;
	height: auto;
	display: flex;
	justify-content: space-between;
	img {
	}
}
@media (max-width: 1024px) {
	.fourth {
		padding: 60px 0px;
		// .fourth__text-block
		&__text-block {
			width: 370px;
		}
		.fourth {
			// .fourth__image-block
			&__image-block {
				width: 465px;
				height: auto;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.pay {
		width: 100%;
	}
}
@media (max-width: 810px) {
	.fourth {
		padding: 60px 0px;
		flex-direction: column-reverse;
		// .fourth__text-block
		&__text-block {
			width: 370px;
		}
		.fourth {
			// .fourth__image-block
			&__image-block {
				width: 465px;
				height: auto;
			}
		}
	}
	.pay {
		width: 100%;
	}
}
@media (max-width: 520px) {
	.fourth {
		// .fourth__text-block
		&__text-block {
			width: 290px;
		}
		.fourth {
			// .fourth__image-block
			&__image-block {
				width: 290px;
				height: auto;
			}
		}
	}
	.pay {
		width: 100%;
		height: 26px;
		img {
			height: auto;
		}
		img:nth-child(1) {
			width: 72px;
		}
		img:nth-child(2) {
			width: 40px;
		}
		img:nth-child(3) {
			width: 22px;
		}
		img:nth-child(4) {
			width: 86px;
		}
	}
}
/*--------------------------------------------------------------------*/
.fifth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0;
	// .fifth__image-block
	&__image-block {
		width: 555px;
		height: auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
	// .fifth__text-block
	&__text-block {
		width: 455px;
		height: auto;
	}
	// .fifth__title
	&__title {
		margin: 0px 0px 16px 0px;
	}
	// .fifth__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin: 0px 0px 16px 0px;
	}
	// .fifth__list
	&__list {
	}
}
.list {
	// .list__item
	&__item {
		background: url("../img/icons/check.svg") 0 5px no-repeat;
		height: 26px;
		margin: 0px 0px 8px 0px;
		span {
			padding: 0px 0px 0px 32px;
			line-height: 24px;
		}
	}
}
